.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
}
.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
}

.search {
  width: 60%;
  border: 1px solid #17bf9d44;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .hero__content {
    padding-top: 0px;
  }
  .hero__content h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .hero__content p {
    font-size: 14px;
    line-height: 20px;
  }
  .hero__content .search {
    width: 100%;
  }
  .hero__content .search input {
    width: 200%;
    margin: 0 auto;
    padding: 7px 5%;
  }
  .hero__content .search button {
    padding: 7px 5%;
  }
}